@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
strong {
  font-family: "Manrope", sans-serif;
  color: #1a1919;
}

.active {
  background: var(--Linear, linear-gradient(90deg, #7e90fe 0%, #9873ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary__btn {
  border-radius: 8px;
  background: var(--Linear, linear-gradient(90deg, #7e90fe 0%, #9873ff 100%));
  display: inline-flex;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  border: none;
}
.banner,
.header {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}
.styles__text {
  background: var(--Linear, linear-gradient(90deg, #7e90fe 0%, #9873ff 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
}
.category {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
  margin: 10px;
}
.category img {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  padding: 10px;
  margin-bottom: 20px;
}
.jobBox {
  border-radius: 8px;
  border: 1px solid var(--Dark-06, #e8e8e8);
  padding: 20px;
}
.jobBox img {
  width: 120px;
  height: 80px;
}
.jobBox button {
  border-radius: 4px;
  padding: 9px 19px;
  border: 1px solid var(--Linear, #7e90fe);
  font-weight: 600;
}
.sm__img {
  width: 30px !important;
  height: 30px !important;
}
.job_detail_bg {
  padding: 100px 0;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}
.bg2 {
  position: absolute;
  right: 0;
  top: 0;
}
.bg1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.job__des {
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
}
